body {
    background-image: url(Images/indoor-2559702.jpg);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    margin: 0;
    background-image: url(Images/indoor-2559702.jpg);

}